---
layout: base.njk
title: The Pledge — NationalConversations.org
description: Sign our pledge.
permalink: /the_pledge/
---

<main class="page-main">
  <div class="container">
    <h1 class="page-title">Support us</h1>
    <p class="image-intro">
      Make your voice heard, sign our pledge. We are a practioner-led initiative and we are not taking corporate funding, all
      our work is self-funded.</p>
    <img src="/images/bookshelf_wide.png" alt="Books and reports related to digital public services" class="img-fluid mb-4">
    <div class="d-flex align-items-center gap-3 flex-wrap mb-3">
      <p class="image-intro">
        After the May elections we will be delivering this bookshelf to all newly elected MSPs and MSs. It will cost about £30
        each. Please consider supporting our work with a donation.</p>
      <a href="https://www.crowdfunder.co.uk/p/national-conversations" class="btn btn-primary btn-lg">Donate</a>
    </div>
    <h2 class="section-title">
      Sign the Pledge
    </h2>
    <div class="card event-card">
      <div class="card-body">
        <div class="pledge-content">
          <p>As digital professionals from the public and private sectors, we believe the 25th anniversary of our parliaments is
            the right time to reflect and open national conversations on digital technology.</p>
          <p>The new millennium also saw the birth of the modern digital world, which demands the same democratic attention.</p>
          <p>Digital technologies are now central to how we access healthcare, jobs, and government services. They connect us, and
            divide us, they bring great benefits, but also great harms. Yet we rarely talk about how we want them to serve our
            nations.</p>
          <p>Join us in calling for a future where digital is central — and where we have a say in how it evolves.</p>
          <p>If you share this vision, join us in the national conversation to make digital technology central to the Senedd and
            Holyrood elections in 2026.</p>
          <p>We welcome support from colleagues all around the world. All signatures are in an individual capacity.
          </p>
          <p>
            <strong>All signatories are signing on a personal basis</strong>
          </p>
          <p>Please email gordon.guthrie@foundationsofthedigitalstate.com to sign</p>
        </div>
      </div>
    </div>
  </main>