<nav class="site-header navbar navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <span class="brand-logo">NationalConversations</span><span class="brand-tld">.org</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/' %} active{% endif %}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/the_pledge/' %} active{% endif %}" href="/the_pledge/">The Pledge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/events/' %} active{% endif %}" href="/events/">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/signatories/' %} active{% endif %}" href="/signatories/">Signatories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/questions/' %} active{% endif %}" href="/questions/">Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/organisations/' %} active{% endif %}" href="/organisations/">Organisations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/photos/' %} active{% endif %}" href="/photos/">Photos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
